.footer-container {
  background-color: #393e46;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.footer-name {
  color: #eeeeee;
  font-size: 30px;
  font-weight: 600;
}

.transaction-git-link {
  background-color: #eeeeee;
  width: 600px;
  margin: 5px;
  border-radius: 4px;
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.footer-project-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-project-container p {
  color: #ffffff;
  line-height: 1.7;
  word-break: break-all;
}

.footer-project-heading {
  font-size: 24px;
  font-weight: 600;
  color: #00adb5;
  margin-right: 5px;
  text-decoration: none;
}

.footer-git-container {
  display: flex;
  align-items: center;
}
